<!-- This is an example for reference -->

<li>
	{{name}}

	<button class="change-status" data-id="{{id}}" data-newTicket="{{solved}}">
		{{#if solved}}Solved!{{else}}Resolve!{{/if}}
	</button>
</li>
