 <nav class="navbar navbar-default">
      <img src="https://i.ibb.co/HXsR89Z/Ticket-Tracker-Logo.png" alt="Ticket-Tracker-Logo" style="width: 100px;height: 100px;">
      <div class="container-fluid">
        <div class="container"></div>
        <div class="navbar-header"></div>
    </nav>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form class="login">
            <h2>Login</h2>
            <h3>Hello! Let's get started</h3>
            <div class="container-fluid"></div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email-input"
                placeholder="Email"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                id="password-input"
                placeholder="Password"
              />
            </div>
            <button type="submit" class="loginbtn">Login</button>
            <br/>
            <p> Don't have an account? <a href="/signup"> Sign up here</a></p>
          </form>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    //
