<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md">
            <div class="card" id=logoPannel>
                <img class="card-img-top" src="https://i.ibb.co/HXsR89Z/Ticket-Tracker-Logo.png"
                    alt="Time Tracker by Kangaroo Paws Logo">

            </div>
        </div>
        <div class="col col-md">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Known issues</h5>
                    <ul class="list-group">
                        <li class="list-group-item">We know about the bear in the fourth floor breakroom. Do not engage.
                            </option>
                        </li>
                        <li class="list-group-item">Global issue with Payroll Tracker is set to be resolved by end of
                            business.
                            </option>
                        </li>
                        <li class="list-group-item">The Fidelity application is down until further notice. Please use
                            Fidelity
                            Lite to assist customers until resolved.</option>
                        </li>
                        <li class="list-group-item">Toilet paper in the 2nd floor bathrooms is low. This is a hardware
                            issue and
                            has been brought to the attention of Operations.</option>
                        </li>
                        <li class="list-group-item">Chthulu under maintance until next scheduled apocalypse.</option>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col col-md">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Submit a new Ticket</h5>
                    <p class="card-text">Let us know of any issues that need resoving. Please review the Known Issues
                        panel to
                        avoid a duplicate request.</p>
                    <a href="/submit/" class="btn btn-primary">Go</a>
                </div>
                <div class="card-body" id="otherLinks">
                    <h5 class="card-title">Analytics</h5>
                    <p class="card-text">View data related to submitted tickets by department.</p>
                    <a href="/analytics" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>